body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

#root {
    height: 100%;
    width: 100%;
    display: flex;
}

.main-content {
    margin-left: 233px; /* Espaço para o navbar */
    width: calc(100% - 233px); /* Ocupa o espaço restante */
    height: 100vh;
    display: flex;
    flex-direction: column;
}