.navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
    height: 100vh;
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    background-color: #333;
    padding: 1em;
}	

nav {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

nav > a {
    color: white;
    text-decoration: none;
    margin: 1em 1.5em;
}

nav > a:hover {
    color: white;
    text-decoration: underline;
}
